@font-face {
  font-family: "Cheque";
  src: url("./fonts/Cheque-Regular.otf");
}

@font-face {
  font-family: "HKGrotesk";
  src: url("./fonts/HKGrotesk-Regular.otf")
}

body {
  font-family: sans-serif;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

button {
  background-color: none;
  border-radius: 10px;
  color: #002939;
  border: 2px solid #002939; /* Green */
}

button:hover {
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  background-color: #002939;
  color: white;
  border: 2px solid #002939;
}

.header {
  font-family: "Cheque" !important;
  color: white;
  font-size: 400%;
  background-color:#002939;
}

* {
  box-sizing: border-box;
  font-family: "HKGrotesk" !important;
}

.userView {
  display: flex;
  margin: 4%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userReview > .reviewBox {
  max-width: 40%;
  max-height: none;
}

.minor-margin {
  display:flex;
  margin: 3%;
  justify-content: space-around;
}

.reviewBox{
  max-width: 75%;
  word-wrap: break-word;
}

.reviewContainer {
  overflow-y: scroll;
}


hr {
  color: none;
  border: 1px solid #232b2b;
}

a:link {
  text-decoration: none;
  color: #4D7686;
}

a:visited {
  text-decoration: none;
  color: #4D7686;
}

a:hover {
  text-decoration: none;
  color: #4D7686;
}

a:active {
  text-decoration: none;
  color: #4D7686;
}

.padding-bottom {
  padding-bottom: 6%;
}

label {
  display: block;
}

nav {
  width: 100%;
  background-color: #002939;
  font-size: 120%;
}

nav > a:link {
  color: white;
}

nav * {
  display: inline-block;
  margin: 0.5em;
}

button > a:link {
  color: #002939
}

button > a:hover {
  color: white;
}

button > a:active {
  color: white
}

form div {
  margin: 1em;
  display: inline-block;
}

.navItems {
  align-content: flex-end;
}

.allBeers {
  width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allStyles {
  width: 100%;
  margin: 5%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.styleName {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: .5%;
}

.styleDetail {
  margin-bottom: 3%;
}

.beerItem {
  margin: .5%
}

.reviewBlock {
  display: flex;
  flex-direction: row;
  margin: 1%;
  align-content: space-between;
  background-color: #2980B9
}

.reviewForm {
  flex: 1;
  margin: 1%;
  padding: 2%;
  background-color: white;
}

.allReviews {
  flex: 1;
  margin: 1%;
  padding: 2%;
  height: 50vh;
  overflow-y: scroll;
  background-color: white;
}

.singleBeer {
  display: flex;
  background-color: #1F618D;
  align-content: center;
  justify-content: space-between;
}

.reviewContent {
  font-size: 80%
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.img-thumbnail {
  height:250px;
  width: 100%;
  object-fit: cover;
}