@font-face {
  font-family: "Cheque";
  src: url("./fonts/Cheque-Regular.otf");
}

@font-face {
  font-family: "HKGrotesk";
  src: url("./fonts/HKGrotesk-Regular.otf")
}

@font-face {
  font-family: "HKGrotesk-SemiBold";
  src: url("./fonts/HKGrotesk-SemiBold.otf")
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  font-family: sans-serif;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 0.52.0.5 */
  -moz-animation: fadein 0.5s; /* Firefox < 0.56 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 0.50.5.0.5 */
       animation: fadein 0.5s;
}

h1, h2, h3, h4, h5 {
  font-family: "HKGrotesk-SemiBold"
}

.fadeIn {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 0.50.5.0.5 */
  -moz-animation: fadein 0.5s; /* Firefox < 0.56 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 0.50.5.0.5 */
       animation: fadein 0.5s;
}

body > * {
  margin: 1%;
}

.userDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1%
}

button {
  background-color: none;
  border-radius: 10px;
  color: #002939;
  border: 2px solid #002939; /* Green */
}

button:hover {
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  background-color: #002939;
  color: white;
  border: 2px solid #002939;
}

* {
  box-sizing: border-box;
  font-family: "HKGrotesk";
  font-size: 100%;
}

.header {
  font-family: "Cheque";
  color: white;
  font-size: 400%;
  background-color:#002939;
}

.dashed {
  opacity: 0.5;
}

.filterBar {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  flex-wrap: wrap;
}

.filterBar > * {
  font-size: 100%;
}

.userView {
  display: flex;
  margin: 4%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userReview > .reviewBox {
  max-width: 40%;
  max-height: none;
}

.minor-margin {
  display:flex;
  margin: 3%;
  justify-content: space-around;
}

.reviewBox{
  max-width: 75%;
  word-wrap: break-word;
}

.reviewContainer {
  overflow-y: scroll;
}


hr {
  color: none;
  border: 1px solid #232b2b;
}

a:link {
  text-decoration: none;
  color: #4D7686;
}

a:visited {
  text-decoration: none;
  color: #4D7686;
}

a:hover {
  text-decoration: none;
  color: #4D7686;
}

a:active {
  text-decoration: none;
  color: #4D7686;
}

.padding-bottom {
  padding-bottom: 6%;
}

label {
  display: block;
}

button > a:link {
  color: #002939
}

button > a:hover {
  color: white;
}

button > a:active {
  color: white
}

nav {
  width: 100%;
  background-color: #002939;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
 
nav > a:link {
  color: white;
}

nav > a:hover {
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  color: #4D7686;
}

nav * {
  display: inline-block;
  margin: 0.3em;
  font-size: 105%;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navItems {
  float: right;
}

.allBeers {
  width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allStyles {
  width: 100%;
  margin: 5%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.beerItem {
  margin: .5%
}

.reviewBlock {
  display: flex;
  flex-direction: row;
  margin: 1%;
  align-content: space-between;
  background-color: #2980B9
}

.reviewForm {
  flex: 1;
  margin: 1%;
  padding: 2%;
  background-color: white;
}

.allReviews {
  flex: 1;
  margin: 1%;
  padding: 2%;
  height: 50vh;
  overflow-y: scroll;
  background-color: white;
}

.singleBeer {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.reviewContent {
  font-size: 80%
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.img-thumbnail {
  height:250px;
  width: 100%;
  object-fit: scale-down;
}

/* GRAPH THINGS  */

h3{
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    opacity: .8;
    font-weight: 400;
    font-size: 20px;
    font-family: "Cheque"
}

#PolarArea {
  width: 400;
}

.top{
    margin-bottom: 10px;
    background-color: #002939;
    border-radius:4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.bottom-left{
    background-color: white;
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.bottom-right{
    background-color: #002939;
    border-radius: 4px;
    height: 400px;

    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.shadow {
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}

.pad{
    padding:20px;
}

.browser-legend{
    font-size:14px;
    opacity:.8;
}

.bottom-left-svg{
    padding-top:40px;
    text-align: center;
}


.bottom-right-svg{
    text-align: center;
}

.line {
    fill: none;
    stroke: yellow;
    stroke-width: 3px;

}

.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 14px;
}

.y-grid .tick{
    stroke: #4b5f87;
    opacity: 1;
}

.default-svg{

}

.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.page-header{
    height:35px;
    textAlign:center;
}

.page-h4{
    line-height:35px;
    color:rgb(125, 199, 244);
  object-fit: cover;
}