@font-face {
  font-family: "Cheque";
  src: url("./fonts/Cheque-Regular.otf");
}

body {
  font-family: sans-serif;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.header {
  font-family: "Cheque";
  color: white;
  font-size: 400%;
  background-color:#002939;
}

* {
  box-sizing: border-box;
}


hr {
  color: none;
  border: 1px solid #232b2b;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.padding-bottom {
  padding-bottom: 6%;
}

.beerName {
  font-weight: bold;
  font-size: 120%;
}

label {
  display: block;
}

nav {
  width: 100%;
}

nav * {
  display: inline-block;
  margin: 1em;
  margin-top: 2%;
  margin-bottom: 2%;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allBeers {
  width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allStyles {
  width: 100%;
  margin: 5%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.styleName {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: .5%;
}

.styleDetail {
  margin-bottom: 3%;
}

.beerItem {
  margin: .5%
}

.reviewBlock {
  display: flex;
  flex-direction: row;
  margin: 1%;
  align-content: space-between;
  background-color: #2980B9
}

.reviewForm {
  flex: 1;
  margin: 1%;
  padding: 2%;
  background-color: white;
}

.allReviews {
  flex: 1;
  margin: 1%;
  padding: 2%;
  height: 50vh;
  overflow-y: scroll;
  background-color: white;
}

.singleBeer {
  display: flex;
  background-color: #1F618D;
  align-content: center;
  justify-content: space-between;
}

.reviewContent {
  font-size: 80%
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.img-thumbnail {
  height:250px;
  width: 100%;
  object-fit: scale-down;
}